* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.logo {
  position: relative;
  top: 4px;
  left: 120px;
}

.Login {
  cursor: pointer;
  color: whitesmoke;
  background-color: transparent;
  font-size: 16px;
  box-shadow: transparent;
  border: 1px;
  margin-left: 1520px;
  font-weight: 600px;
  position: relative;
  top: -32px;
}

.Signup {
  position: relative;
  top: -60px;
  cursor: pointer;
  color: white;
  background-color: #e61f5b;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  font-weight: 600;
  border: 1px;
  margin-top: 0px;
  margin-left: 1600px;
  position: relative;
  transition: 0.5s ease;
}

.BigLogo {
  position: relative;
  top: 180px;
  left: 782px;
}

.Title {
  font-size: 50px;
  color: white;
  margin-left: 490px;
  margin-top: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Copyright {
  font-size: 10px;
  font-weight: 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: aliceblue;
  position: relative;
  margin-top: 575px;
  margin-left: 880px;
}

.Details {
  color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-left: 450px;
}

.Rights {
  color: white;

}

.wrapper {
  display: inline-flex;
  position: relative;
  margin-left: 840px;
  margin-top: -100px;
}

.wrapper .icon {
  margin: 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  top: -450px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span {
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span i {
  line-height: 60px;
  font-size: 24px;

}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  pointer-events: none;
  transition: 0.4s;
}

.wrapper .icon:hover .tooltip {
  top: -65px;
  opacity: 1;
}

.icon .tooltip:before {
  position: absolute; 
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.6s;
}

.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
  background: #3B5999;
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before {
  background: #46C1F6;
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before {
  background: #e1306c;
}
